<body>
    <div class="container">
        <h1 class="text-center">NOSSOS PRODUTOS:</h1>
        <hr>
        
        <div class="row">
            <!-- Produto  -->
            <div class=" col-md-3">
                <div class="ordernar">
                    <h3 class="mt-2 text-center">Categorias:</h3>
                    <h5 class="text-center mt-3">Produtos:</h5>
                    <div class="d-flex justify-content-center align-items">
                        <ul class="list-unstyled">
                            <li>
                                <a href="">Cadeiras</a>
                            </li>
                            <li>
                                <a href="">Mesas</a>
                            </li>
                            <li>
                                <a href="">Poltronas</a>     
                            </li>
                            <li>
                                <a href="">Sofás</a>     
                            </li>
                        </ul>             
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 produto-grid">
                <div class="imagem">
                    <a href="#">
                        <img src="assets/img/produtos/sofas/sofa_adam.png" class="w-100">
                        <div class="overlay">
                            <div class="detalhes">Ver Detalhes</div>
                        </div>
                    </a>
                </div>
                <h5 class="text-center">Sofa Modelo Adam</h5>
                <h5 class="text-center">Preço: R$550.00</h5>
                <a href="#" class="btn comprar">comprar</a>
            </div>
            
            <div class="col-md-3 produto-grid">
                <div class="imagem">
                    <a href="#">
                        <img src="assets/img/produtos/sofas/sofa_adam.png" class="w-100">
                        <div class="overlay">
                            <div class="detalhes">Ver detalhes</div>
                        </div>
                    </a>
                </div>
                <h5 class="text-center">Sofa Modelo Adam</h5>
                <h5 class="text-center">Preço: R$550.00</h5>
                <a href="#" class="btn comprar">comprar</a>
            </div>
            
            <div class="col-md-3 produto-grid">
                <div class="imagem">
                    <a href="#">
                        <img src="assets/img/produtos/sofas/sofa_adam.png" class="w-100">
                        <div class="overlay">
                            <div class="detalhes">Ver detalhes</div>
                        </div>
                    </a>
                </div>
                <h5 class="text-center">Sofa Modelo Adam</h5>
                <h5 class="text-center">Preço: R$550.00</h5>
                <a href="#" class="btn comprar">comprar</a>
            </div>
            
        </div>
        
        <div class="row">
            <div class=col-md-3></div>
            <div class="col-md-3 produto-grid">
                <div class="imagem">
                    <a href="#">
                        <img src="assets/img/produtos/sofas/sofa_adam.png" class="w-100">
                        <div class="overlay">
                            <div class="detalhes">Ver detalhes</div>
                        </div>
                    </a>
                </div>
                <h5 class="text-center">Sofa Modelo Adam</h5>
                <h5 class="text-center">Preço: R$550.00</h5>
                <a href="#" class="btn comprar">comprar</a>
            </div>
            
            <div class="col-md-3 produto-grid">
                <div class="imagem">
                    <a href="#">
                        <img src="assets/img/produtos/sofas/sofa_adam.png" class="w-100">
                        <div class="overlay">
                            <div class="detalhes">Ver detalhes</div>
                        </div>
                    </a>
                </div>
                <h5 class="text-center">Sofa Modelo Adam</h5>
                <h5 class="text-center">Preço: R$550.00</h5>
                <a href="#" class="btn comprar">comprar</a>
            </div>
            
            <div class="col-md-3 produto-grid">
                <div class="imagem">
                    <a href="#">
                        <img src="assets/img/produtos/sofas/sofa_adam.png" class="w-100">
                        <div class="overlay">
                            <div class="detalhes">Ver detalhes</div>
                        </div>
                    </a>
                </div>
                <h5 class="text-center">Sofa Modelo Adam</h5>
                <h5 class="text-center">Preço: R$550.00</h5>
                <a href="#" class="btn comprar">comprar</a>
            </div>
        </div>
        
        
    </div>
</body>