<div class="container-fluid" style="height: 20000px;">
    <div class="row mt-5 mb-5">
        <div class="col-md-3">

        </div>

        <div class="card col-md-2 ml-3 mt-5 mr-3"> -->
            <img class="card-img-top" src="" alt="Imagem do produto">
            <div class="card-body text-center"> -->


                <h5 class="card-title">NOME</h5>

            </div>



            <p class="card-text">Código: </p>
            <p class="card-text">Preço: R</p>
            <p class="card-text">Quantidade em estoque: </p>
            <div class="d-flex justify-content-center">
                <button class="btn btn-outline-info mr-3">
                    Editar
                </button>
                <button class="btn btn-outline-danger">
                    Deletar
                </button>
            </div>
        </div>








    </div>