<div class="container mt-5 mb-5">
    <div class="mb-5" id="missao">

        <h2>Missão</h2>

        Percebemos que móveis em estado de deterioração são destinados a locais indevidos ou até mesmo esquecidos em
        pontos de coleta e decidimos como missão diminuir o impacto destes produtos na natureza.


    </div>
    <div class="mb-5" id="visao">
        <h2>Visão</h2>
        Desejamos ser referência em restauração e venda de móveis usados, trazendo qualidade e preço justo em
        todos os serviços prestados a nossos clientes e principalmente agir com respeito ao meio ambiente.
    </div>
    <div id="valores">
        <h2>Valores</h2>
        Satisfação do cliente <br>
        Respeito ao meio ambiente<br>
        Qualidade do produto<br>
        Colaboração
    </div>
    <div class="mt-5 mb-5">
        <div id="DanielDescrição">
            <h2>Daniel Capriano</h2>
            Daniel, 26 anos, Desenvolvedor Fullstack, sempre teve interesse em design gráfico, cursou faculdade na área
            de
            2014 a 2017. Na faculdade se interessou na parte Frontend e foi o que o introduziu para a programação. Hoje
            busca mais conhecimento em ambos Frontend e Backend, mas com um foco em especial em UI/UX
        </div>
        <div class="mt-5 mb-5" id="GabrielDescrição">
            <h2>Gabriel Fernando</h2>
            Formado pela Universidade São Judas Tadeu, Gabriel Fernando esta sempre em busca de inovação e
            conhecimentos. Na
            GET Moveis ele trouxe soluções para os diversos desafios da empresa e auxilia em soluções para os paradigmas
            do
            nosso nicho de mercado
        </div>
        <div class="mt-5 mb-5" id="LucivaldoDescrição">
            <h2>Lucivaldo</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, veniam fugiat porro consectetur
            accusantium,
            esse fuga quae, consequuntur culpa soluta aspernatur fugit dolorum commodi vero repellat exercitationem!
            Facere,
            neque quo.
        </div>
        <div class="mt-5" id="ThiagoDescrição">
            <h2>Thiago Duarte</h2>
            Desenvolvedor Full Stack, gosta muito de ciências exatas e tecnologia. Obteve experiência nas áreas de
            engenharia e inovação durante a graduação. Teve também a oportunidade de trabalhar em duas startups.
            Thiago tem um pensamento analítico e criativo sempre voltado a inovação e a melhoria de processos.
        </div>
    </div>
</div>