<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
  
 <!-- START THE FEATURETTES -->

 <hr class="featurette-divider">

 <div class="row featurette">
   <div class="col-md-7">
     <h2 class="featurette-heading">Missão</h2>
     <p class="lead"> Percebemos que móveis em estado de deterioração são destinados a locais indevidos ou até mesmo esquecidos em
      pontos de coleta e decidimos como missão diminuir o impacto destes produtos na natureza.</p>
   </div>
   <div class="col-md-5">
     <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
   </div>
 </div>

 <hr class="featurette-divider">

 <div class="row featurette">
   <div class="col-md-7 order-md-2">
     <h2 class="featurette-heading">Visão</h2>
     <p class="lead">Desejamos ser referência em restauração e venda de móveis usados, trazendo qualidade e preço justo em
      todos os serviços prestados a nossos clientes e principalmente agir com respeito ao meio ambiente.</p>
   </div>
   <div class="col-md-5 order-md-1">
     <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
   </div>
 </div>

 <hr class="featurette-divider">

 <div class="row featurette">
   <div class="col-md-7">
     <h2 class="featurette-heading">Valores</h2>
     <p class="lead">Satisfação do cliente <br>
      Respeito ao meio ambiente<br>
      Qualidade do produto<br>
      Colaboração</p>
   </div>
   <div class="col-md-5">
     <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
   </div>
 </div>

 <hr class="featurette-divider">


    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#descricaodaniel">
    Daniel
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="descricaodaniel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Daniel Cipriano</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Daniel, 26 anos, Desenvolvedor Fullstack, sempre teve interesse em design gráfico, cursou faculdade na área
            de
            2014 a 2017. Na faculdade se interessou na parte Frontend e foi o que o introduziu para a programação. Hoje
            busca mais conhecimento em ambos Frontend e Backend, mas com um foco em especial em UI/UX
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>

  
   <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#descricaogabriel">
    Gabriel
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="descricaogabriel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Gabriel Fernando</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Formado pela Universidade São Judas Tadeu, Gabriel Fernando esta sempre em busca de inovação e
            conhecimentos. Na
            GET Moveis ele trouxe soluções para os diversos desafios da empresa e auxilia em soluções para os paradigmas
            do
            nosso nicho de mercado
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#descricaolucivaldo">
    Lucivaldo
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="descricaolucivaldo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Lucivaldo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
      
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#descricaothiago">
    Thiago 
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="descricaothiago" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thiago Duarte</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Desenvolvedor Full Stack, gosta muito de ciências exatas e tecnologia. Obteve experiência nas áreas de
            engenharia e inovação durante a graduação. Teve também a oportunidade de trabalhar em duas startups.
            Thiago tem um pensamento analítico e criativo sempre voltado a inovação e a melhoria de processos.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>