*{
    box-sizing: border-box;
    padding: 0px;
}
.container
{
    padding-top: 25px;
}

.faq-accordion{
    color: #915b4a;
    font-weight: bold;
}

@media (min-width: 576px){
    .form-inline .form-control {
        width: 850px;
        margin-left: 20px;
    }
}