<div class="topbar">
    <p style="font-family: Margem; font-size: 15px; color: #fff; text-transform: uppercase; margin-bottom: 0;">
        PRODUTOS <strong style="font-weight: bold; color:#ecc207;;"> EM PROMOÇÃO! </strong> <a href="#Colocar o site"
            style="text-decoration: underline; font-weight: bold; color:  #fff;">(CONFIRA)</a>
    </p>
</div>
<!-- BARRA DE LOGO + BUSCA + LOGIN -->

<div class="navbar navbar-light bg-light">
    <div class="row">

        <div class="col-1 p-0 d-flex align-items-center">
            <a routerLink='/home'><img a routerLink='/home' id="logoIcon" src="assets/img/nav/get_home.png"
                    alt="Logo GET Móveis" class="rounded"></a>
            <!-- <img a href="#HOME" id="logoIcon" src="../assets/img/getmoveislogo2.png" alt="Logo GET Móveis"> -->
        </div>
        <div class="col-8 pr-0 pl-4">
            <input class="form-control mr-sm-2 buscar h-100" type="search" placeholder="O que você procura?"
                aria-label="Search">
        </div>
        <div class="col-1 p-0 text-center" id="pesquisar">
            <button class="btn-sm btn-light border-0 p-0" type="submit">
                <fa-icon [icon]="faSearch" class="faSearch fa-2x p-0"></fa-icon>
            </button>
        </div>
        <div class="col-1 p-0 text-right" data-toggle="modal" data-target="#login">
            <button class="btn-sm btn-light border-0 p-0" type="submit" routerLink='cadastro'>
                <fa-icon [icon]="faUser" class="faUser fa-2x p-0"></fa-icon>
            </button>
        </div>
        <div class="col-1 px-1 text-left" id="carrinho">
            <button class="btn-sm btn-light border-0 p-0" type="submit">
                <fa-icon [icon]="faShoppingCart" class="faShoppingCart fa-2x p-0"></fa-icon>
            </button>
        </div>

    </div>

    <!-- fIM DA BARRA DE LOGO + BUSCA + LOGIN -->



</div>


<!-- ÍNICIO BARRA DE CATEGORIAS -->

<nav style="border-bottom: 0.1px solid #ced4da; border-top: 0.1px solid #ced4da;">
    <!-- Linha cinza no nav 2 -->
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link" routerLink='sofas'>SOFÁS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">POLTRONAS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">CADEIRAS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">MESAS</a>
        </li>
    </ul>
</nav>

<!-- FIM BARRA DE CATEGORIAS -->


<!-- Modal Login -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content container">
            <div class="row modal-header">
                <h5 class="col-6 mt-3"><strong>Login</strong></h5>
                <button type="button" class="close d-flex align-items-end col-6 mt-2" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body pt-0">
                <div class="row">
                    <div class="col d-flex align-items-center">
                        <a href="https://www.hcode.com.br" target="_blank">
                            <img class="mb-2" src="assets/img/nav/get_home.png" style="width: 12rem;"
                                alt="Logo da Hcode">
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col d-flex align-items-center">
                        <form action="/login" method="POST" id="form-login">

                            <div>
                                <input type="email" id="email" placeholder="Digite o seu e-mail" required>
                            </div>

                            <div>
                                <input type="password" id="password" placeholder="Digite a senha" required>
                            </div>

                            <div>
                                <button id="btn-submit" class="btn-outline-dark BotaoEnviar">Enviar</button>
                                <h6 class="p-1">Não tem conta?<br><a href="cadastro">cadastre-se</a></h6>

                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- FIM MODAL LOGIN -->