    <div class="topbar">
        <p
        style="font-family: Margem; font-size: 15px; color: #fff; text-transform: uppercase; margin-bottom: 0;">
        <strong>Promoção</strong>. Poltronas <strong style="font-weight: bold; color:#ecc207;;"> com 10%
            OFF</strong> <a href="#Colocar o site" style="text-decoration: underline; font-weight: bold; color:  #fff;">(CONFIRA)</a>
        </p>
    </div>
    <!-- BARRA DE LOGO + BUSCA + LOGIN -->
    
    <div class="navbar navbar-light bg-light">
        <form class="form-inline">
            <a href="#HOME"><img a href="#HOME" id="logoIcon" src="assets/img/nav/get_home.png" alt="Logo GET Móveis"></a>
            <!-- <img a href="#HOME" id="logoIcon" src="../assets/img/getmoveislogo2.png" alt="Logo GET Móveis"> -->
            <div class="campoPesquisar">
                <input class="form-control mr-sm-2 buscar" style="width: 800px;"type="search" placeholder="O que você procura?" aria-label="Search">                    
            </div>
            <div id="pesquisar">
                <button class="btn-sm btn-outline-dark" type="submit">PESQUISAR</button>
            </div>
            <div id="login">
                <button class="btn-sm btn-outline-dark" type="submit">LOGIN</button>
            </div>
            <div id="carrinho">
                <button class="btn-sm btn-outline-dark" type="submit">CARRINHO</button>
            </div>
            
            
        </form>
    </div>
    
    <!-- fIM DA BARRA DE LOGO + BUSCA + LOGIN -->

