<footer>
    <div class="footerItens">
        <br>
        <div id="getFooter">
            <h5>SOBRE A GETMÓVEIS</h5>
            <br>
            <p style="margin: 0 15px 0;">Somos uma empresa cujo o proposito é trazer produtos de qualidade por um preço acessível a nossos clientes.</p>
        </div>
        
        <div id="produtosFooter"> 
            <h5>PRINCIPAIS PRODUTOS</h5>
            <ul style="list-style: none;">
                <li><a href="#">Sofás</a></li>
                <li><a href="#">Poltronas</a></li>
                <li><a href="#">Cadeiras</a></li>
                <li><a href="#">Mesas</a></li>
                <li><a href="#">Hacks</a></li>
            </ul>
        </div>
        
        <div id="contatosFooter">
            <h5>CONTATO</h5>
            <ul style="list-style: none;">
                <li style="margin-top: 20px;"><img src="img/Contatos/telefone.png" width="20px" hspace="10">  11 0000-0000</li>
                <li style="margin: 10px 0 10px 75px;"><img src="img/Contatos/email.png" width="20px" hspace="10" margin-left="10px"> getmoveis6@gmail.com</li>
                <li style="margin-left: 5px;"><img src="img/Contatos/home.png" width="20px" hspace="10">  São Paulo - SP</li>
            </ul>
        </div>
    </div>
    <div id="rodapeFooter">
        <div id="redessociaisFooter">
            <ul style="list-style: none;">
                <li id="facebookFooter"><a href="http://facebook.com"><img src="img/redes-sociais/facebook.png" width="35px"></a></li>
                <li id="instagramFooter"><a href="http://instagram.com"><img src="img/redes-sociais/instagram.png" width="35px"></a></li>
                <li id="twitterFooter"><a href="http://twitter.com"><img src="img/redes-sociais/twitter.png" width="35px"></a></li>
            </ul>
        </div>
        <div id="PagamentoFooter">
            <h6>Formas de Pagamento:</h6>
            <img style="padding-left: 25px;" src="img/pagamento/dinheiro.png" alt="Pagamento em dinheiro">
            <img src="img/pagamento/visa.png" alt="Cartão Visa">
            <img src="img/pagamento/master.png" alt="Cartão Master">
        </div>
        <div id="infoRodape">
            <p>GetMóveis - CNPJ:00.000.000/0000-00</p>
        </div>
    </div>
    
</footer>
