/* -------AQUI INICIA O FOOTER------*/

/* CONFIGURAÇÃO CAIXA FOOTER DA SEÇÃO*/

.footerItens{
    
    background-color: rgb(248, 249, 250);
    border-top: #000000 2px solid;
}

/* FIM DA CONFIGURAÇÃO CAIXA FOOTER DAS SEÇÃO*/

/* SEÇÃO  GET MÓVEIS | PRODUTOS | CONTATOS */
.getFooter{
    border-right: 0.1px solid #ced4da;    
}

.produtosFooter{
    border-right: 0.1px solid #ced4da;  
}

.liCorProdutos{
    color: brown;
}

#linkSobrenos{
    cursor: pointer;
}

#linkContato{
    cursor: pointer;
}

#linkFAQ{
    cursor: pointer;
}

/* FIM DA SEÇÃO  GET MÓVEIS | PRODUTOS | CONTATOS */

/* CONFIGURAÇÃO DA BARRA REDE SOCIAL + DADOS + ICONES DE PAGAMENTO. */

.rodapeFooter{
    color: white;
    background-color: black;
}

/*  FIM CONFIGURAÇÃO DA BARRA REDE SOCIAL + DADOS + ICONES DE PAGAMENTO. */

/* ICONES DAS REDES SOCIAIS */

#twitterFooter, #instagramFooter, #facebookFooter, #linkedinFooter{
    float: left;
}

.faFacebook, .faInstagram, .faTwitter, .faLinkedin{
    color: brown;
}
/* FIM DOS ICONES */
/* ---------FIM DO FOOTER---------- */