<div class="container">

    <div class="row mt-5 mb-5">


        <div class="col-md-12">

            <div>
                <h3 class="text-center text-monospace">Cadastro de Clientes GetMoveis</h3>

                <div class="form-group">
                    <label for="nome" class="text-monospace">Nome</label>
                    <input type="text" name="nome" id="nome" class="form-control" placeholder="Digite seu nome completo"
                        [(ngModel)]="user.nome" minlength="3" required size="80">
                </div>

                <div class="form-group">
                    <label for="email" class="text-monospace">E-mail:</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Digite seu email"
                        required pattern=".+@mail.com" size="80" required [(ngModel)]="user.email">
                </div>

                <div class="form-group">
                    <label for="password" class="text-monospace">Senha:</label>
                    <input type="password" id="password" class="form-control" name="password" minlength="8"
                        placeholder="Digite uma senha com no minimo 8 caracteres" required [(ngModel)]="user.senha">
                </div>

                <div class="form-group">
                    <label for="password2" class="text-monospace">Confirme a Senha:</label>
                    <input type="password" id="password2" class="form-control" name="password2" minlength="8"
                        placeholder="Digite uma senha com no minimo 8 caracteres" required [(ngModel)]="user.senha2">
                </div>

                <div *ngIf='alerta'>
                    <div class="alert alert-danger" role="alert">
                        As senhas não conferem. Por favor confirmar as senhas antes do cadastro.
                    </div>

                </div>



                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-info w-25" (click)="cadastrar()">Cadastrar</button>
                </div>
            </div>

            <hr class="mt-5 mb-5">

            <h3 class="text-monospace text-center mb-5">Veja quem está cadastrado na GetMoveis</h3>

            <div *ngIf='deletou'>
                <div class="alert alert-success" role="alert">
                    Usuario apagado com sucesso.
                </div>

            </div>



            <div class="card mb-4" *ngFor="let user of listaUsuarios">

                <div class="card-header">

                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="card-title">{{user.nome}}</h5>

                        </div>

                        <div class="col-md-4 d-flex justify-content-end">
                            <button class="btn btn-outline-info mr-3" [routerLink]="['/editar',user.id]">
                                Editar
                            </button>

                            <button class="btn btn-outline-danger" [routerLink] = "['/deletar', user.id]" >Apagar</button>

                        </div>





                    </div>




                </div>

                <div class="card-body">
                    <p class="card-text">EMAIL CLIENTE: {{user.email}}</p>
                    <p class="card-text">SENHA CLIENTE: {{user.senha}}</p>
                    <p class="card-text">ID CLIENTE: {{user.id}}</p>
                </div>

            </div>

        </div>
    </div>


</div>